In [1]:
# These "magic" IPython commands enable reloading of changes your module code
# Changes in your module code will propogate without needing to refresh the notebook kernel
%load_ext autoreload
%autoreload 2

In [7]:
import pandas as pd

df = pd.DataFrame({"Name": ["A", None, None, "A"], "Committee":[None, "B", None, None], "Company": [None, None, "C", None]})
df.stack()

0  Name         A
1  Committee    B
2  Company      C
3  Name         A
dtype: object

In [34]:
contributions = pd.DataFrame.from_records(
        {
            "First Name": ["John", "John", None, None],
            "Last Name": ["Doe", "Doe", None, None],
            "Committee": [None, None, "Committee A", None],
            "Company": [None, None, None, "Company Z"],
        }
    )

In [15]:
from mec.normalize import split_stack_contributors

In [16]:
contributions["Name"] = (
        contributions["First Name"] + " " + contributions["Last Name"]
    )
contributors = contributions[["Name", "Committee", "Company"]]

In [60]:
contributors[["Name", "Committee", "Company"]].max(axis=1)

/tmp/ipykernel_2711/1734233073.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  contributors[["Name", "Committee", "Company"]].max(axis=1)

0   NaN
1   NaN
2   NaN
3   NaN
dtype: float64

In [42]:
contributors.columns.name = "Type"
contributors.index.name

In [66]:
contributors.stack().rename("Name").reset_index().groupby("Name")["Type"].agg(pd.Series.mode).rename("Type")

Name
Committee A    Committee
Company Z        Company
John Doe            Name
Name: Type, dtype: object

In [32]:
contributors["Name"]  contributors["Company"]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [35]:
contributors

       Name    Committee    Company
0  John Doe         None       None
1  John Doe         None       None
2       NaN  Committee A       None
3       NaN         None  Company Z